@import "./../../styles/variables";

.help {
  width: 100%;
  margin: 120px 0;
  background-color: #fff;

  .container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      width: 90%;
    }

    @media (max-width: 1500px) {
      width: 85%;
    }

    @media (max-width: 768px) {
      width: 85%;
      flex-direction: column;
      gap: 100px;
    }

    .left {
      width: 45%;

      .words {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-size: 20px;
          font-weight: bold;
          color: #000;
          text-transform: uppercase;
        }
      }

      h2.title {
        font-size: 38px;
        margin: 10px 0;
      }

      p {
        font-size: 18px;
        color: #666;
      }

      @media (max-width: 768px) {
        width: 80%;
      }
    }

    .right {
      width: 45%;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        width: 80%;
        margin: 0 auto;
      }

      .row {
        margin-bottom: 20px;
        h3 {
            display: flex;
            align-items: center;
            gap: 10px;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            line-height: 20px;
            color: #000;
            text-align: justify;
            font-size: 18px;
        }
      }
    
    }
  }
}
