.references {
  margin: 120px 0;
  width: 100%;

  .container {
    width: 60%;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 90%;
    }

    @media (max-width: 1500px) {
      width: 85%;
    }

    h2 {
      font-size: 48px;
      margin-bottom: 60px;
      text-align: center;

      @media (max-width: 550px) {
        margin-bottom: 50px;
        font-size: 32px;
      }
    }

    .images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .img {
        img {
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}


